name : Unite_test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs :
  job1:
    runs-on : ubuntu-latest
    steps :    
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run unit tests
        run: |
          python -m unittest discover -s . -p "test_calculator.py"
         
